body {
  background-image: linear-gradient(to right, #000000, #262626);
  margin: 2vh;
  height: 96vh;
  border: 0.1px solid white;
  overflow: hidden;
}

@media (max-width: 500px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: flex;
  }
}

@media (min-width: 500px) {
  .HideOnMobile {
    display: initial;
  }
  .ShowOnMobile {
    display: none;
  }
}

.showonMobile {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.error {
  font-family: "myfont";
  width: 90%;
  font-size: 40px;
}
.desktop{
  color: white;
}
.size {
  color: gray;
}



@font-face {
  font-family: "myfont";
  src: url('./fonts/micro5.ttf') format('embedded-opentype'), /* Internet Explorer */
      url('../fonts/micro5.ttf') format('woff2'),             /* Super Modern Browsers */
      url('./fonts/micro5.ttf') format('woff'),              /* Pretty Modern Browsers */
      url('./fonts/micro5.ttf') format('truetype'),          /* Safari, Android, iOS */
      url('./fonts/micro5.ttf') format('svg');
}

/*Sidebar is implemented under this comment so its easier to find*/
.sidenavbar {
  width: 200px;
  position: fixed;
  /*z-index: 1;*/
  left: 50px;
  /*overflow: hidden;*/
  /*top: 45vh;*/
}

.logo {
  height: auto;
  margin: 0;
  position: fixed;
  top:20px;
  left: 50px;
  color: white;
  font-family: "myfont", serif;
}
.watermark {
  font-size: 110px;
  height: 80px;
}
.page {
  color: gray;
  font-size: 40px;
  margin: 0;
  height: 30px;
}


/*Navigation Buttons are here so i dont forget*/
.button {
  display: block;
  font-family: "myfont", serif;
  font-size: 30px;
  height: max-content;
  color: gray;
  text-decoration: none;
  font-weight: bold;
}
.selected {
  color: white;
  height: 28px;
}
.selected:hover {
  color: white;
  height: 28px;
}
.unselected:hover {
  color: darkslategray;
}


/*My Bio for home page is here*/
.home {
  margin-left: 190px;
  /*display: grid;*/
  /*align-items: center;*/
  /*align-self: center;*/
}
h1{
  color: white;
  font-family: "myfont", serif;
  font-size: 80px;
  height: 65px;
  margin: 0;
}
p {
  color: yellow;
  font-family: "myfont", serif;
  font-size: 50px;
  height: auto;
  margin: 0;
  font-weight: bold;
}

/*This is what gives the website a border and contains everything we see*/
.flex_containeru {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}