body {
  background-image: linear-gradient(to right, #000000, 	#000000);
  margin: 2vh;
  height: 96vh;
  border: 0.1px solid white;
  overflow: hidden;
}

/*Fonts here*/
@font-face {
  font-family: "micro";
  src: url('./fonts/micro5.ttf') format('embedded-opentype'), /* Internet Explorer */
  url('../fonts/micro5.ttf') format('woff2'),             /* Super Modern Browsers */
  url('./fonts/micro5.ttf') format('woff'),              /* Pretty Modern Browsers */
  url('./fonts/micro5.ttf') format('truetype'),          /* Safari, Android, iOS */
  url('./fonts/micro5.ttf') format('svg');
}
@font-face {
  font-family: "myfont2";
  src: url('./fonts/NexaL.ttf') format('embedded-opentype'), /* Internet Explorer */
  url('../fonts/NexaL.ttf') format('woff2'),             /* Super Modern Browsers */
  url('./fonts/NexaL.ttf') format('woff'),              /* Pretty Modern Browsers */
  url('./fonts/NexaL.ttf') format('truetype'),          /* Safari, Android, iOS */
  url('./fonts/NexaL.ttf') format('svg');
}
@font-face {
  font-family: "myfont";
  src: url('./fonts/NexaH.ttf') format('embedded-opentype'), /* Internet Explorer */
  url('../fonts/NexaH.ttf') format('woff2'),             /* Super Modern Browsers */
  url('./fonts/NexaH.ttf') format('woff'),              /* Pretty Modern Browsers */
  url('./fonts/NexaH.ttf') format('truetype'),          /* Safari, Android, iOS */
  url('./fonts/NexaH.ttf') format('svg');
}

/*Mobile Display here*/
@media (max-width: 768px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: flex;
  }
}

@media (min-width: 768px) {
  .HideOnMobile {
    display: initial;
  }
  .ShowOnMobile {
    display: none;
  }

}


/*Error message on mobile here*/
.showonMobile {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.error {
  font-family: "myfont";
  width: 90%;
  font-size: 40px;
}
.desktop{
  color: white;
}
.size {
  color: gray;
}


/*Sidebar*/
.sidenavbar {
  width: 100px;
  position: fixed;
  height: 100vh;
  /*z-index: 1;*/
  left: 50px;
  /*overflow: hidden;*/
  align-content: center;
}

/*Logo on top right*/
img{
  width: 100px;
  height: 100px;
  position: fixed;
  left: 40px;
  top: 40px;
}

.logo {
  height: auto;
  margin: 0;
  position: fixed;
  top:20px;
  left: 50px;
  color: white;
}
.watermark {
  position: fixed;
  font-family: "micro", serif;
  font-size: 110px;
  height: 80px;
  margin-left: 3px;
}
.page {
  font-family: "myfont2", serif;
  position: fixed;
  color: gray;
  top: 135px;
  font-size: 20px;
  margin: 0;
  height: 30px;
}
.buildupdate {
  font-family: "myfont2", serif;
  position: fixed;
  color: rgba(128, 128, 128, 0.63);
  bottom: 75px;
  font-size: 15px;
  margin: 0;
  height: 30px;
}
.build {
  font-family: "myfont2", serif;
  position: fixed;
  color: rgba(128, 128, 128, 0.63);
  bottom: 60px;
  font-size: 20px;
  margin: 0;
  height: 30px;
}
.buildbottom {
  font-family: "myfont2", serif;
  position: fixed;
  color: rgba(128, 128, 128, 0.63);
  bottom: 42px;
  font-size: 13.7px;
  margin: 0;
  height: 30px;
}
.copyright {
  font-family: "myfont2", serif;
  position: fixed;
  color: #454545;
  bottom: 40px;
  font-size: 10px;
  margin: 0;
  height: auto;
}

/*Navigation thingies*/
h2{
  color: white;
  font-family: "myfont2", serif;
  font-size: 70px;
  text-align: left;
  height: 65px;
  margin: 0;
}
.button {
  font-family: "myfont2", serif;
  font-size: 20px;
  height: max-content;
  color: gray;
  text-decoration: none;
  font-weight: bold;
}



.clicked{
  background-color: transparent;
  border-radius: 50%;
  margin: 0;
  height: 38px;
  width: 38px;
}
i {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: relative;
  top: 20px;
  left: 1px;
}
.selected {
  color: white;
  /*height: 28px;*/
}
.selected:hover {
  color: white;
  /*height: 28px;*/
}
.unselected:hover {
  color: darkslategray;
}


/*My Bio for home page is here*/
.home{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  color: black;

  font-family: "myfont", serif;
  font-size: 60px;
  text-align: right;
  height: auto;
  margin: 0;
}

p {
  color: white;
  text-align: right;
  font-family: "myfont", serif;
  font-size: 30px;
  height: auto;
  margin: 0;
  font-weight: bold;
}
p:hover {
  color: gray;
}
.greettop {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
@media (max-width: 885px) {
  .greettop {
    flex-direction: column;
  }
  #spacer{
    height: 0px !important;
  }
}

.mono1{
  font-family: "micro";
  font-size: 92px;
  height: 60px;
  color: deepskyblue;
}

.greet2 {
  height: 80px;
  color: white;
}

#spacer {
  color: transparent;
  font-family: "myfont2", serif;
  font-size: 30px;
  text-align: right;
  width: auto;
  height: auto;
  margin: 0;
}

#const {
  color: transparent;
  font-family: "myfont2", serif;
  font-size: 30px;
  text-align: right;
  width: auto;
  height: auto;
  margin: 0;
}
#const1:hover {
  color: yellow;
}
#const1 {
  color: white;
  font-family: "myfont2", serif;
  font-size: 25px;
  text-align: right;
  height: auto;
  margin: 0;
}
#const2 {
  color: darkgoldenrod;
  font-family: "myfont", serif;
  font-size: 20px;
  text-align: right;
  height: auto;
  margin: 0;
}
.flex_containeru {
  height: 96vh;
  display: flex ;
  justify-content: right;
  margin-left: 130px;
  margin-right: 50px;
  overflow: auto;
}
.flex_containeru::-webkit-scrollbar {
  display: none;
}
.flex_containeru {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.empty {
  height: 16vh;
}